{
  "mysql": {
    "connectionString": "mysql://username:password@www.ip.com:port/database"
  },
  "debugMode": true,

  "botToken": "main_NDQ1NDAzODasdffMTUzNDc1.XTjpiA.Oxkzzeas_MOCK_adfasdfG0jr_zQ",
  "botTokenDebug": "debug_NDQ1NDAzODasdffMTUzNDc1.XTjpiA.Oxkzzeas_MOCK_adfasdfG0jr_zQ",

  "cogs_dir": "cogs",

  "cmdPrefix": "?",
  "cmdPrefixDebug": "??"
}